#include("./header.html")

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>

      <div class="row">

        <div class="col-sm-12 blog-main">
		  #for(item : posts)
		  <div class="blog-post">
            <h2 class="blog-post-title">${item.title}</h2>
            <p class="blog-post-meta">${item.create_time.format("yyyy-MM-dd")}</p>
			<hr>
            <p>${item.content}</p>
          </div><!-- /.blog-post -->
		  #end
          <nav>
            <ul class="pager">
              #if(null==page || page <= 1)
              <li><a href="/">上一页</a></li>
              <li><a href="/page/2">下一页</a></li>
              #else
              <li><a href="/page/${page - 1}">上一页</a></li>
              <li><a href="/page/${page + 1}">下一页</a></li>
              #end
            </ul>
          </nav>
          
        </div><!-- /.blog-main -->
      </div><!-- /.row -->
    </div><!-- /.container -->
#include("./footer.html")