#include("./header.html")

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Blade博客示例</h1>
      </div>

      <div class="row">

        <div class="col-sm-12 blog-main">
		  #for(item : postPage.results)
		  <div class="blog-post">
            <h2 class="blog-post-title">${item.title}</h2>
            <p class="blog-post-meta">${item.create_time.format("yyyy-MM-dd")}</p>
			<hr>
            <p>${item.content}</p>
          </div><!-- /.blog-post -->
		  #end
          <nav>
            <ul class="pager">
              <li><a href="/page/${postPage.prev_page}">上一页</a></li>
              <li><a href="/page/${postPage.next_page}">下一页</a></li>
            </ul>
          </nav>
          
        </div><!-- /.blog-main -->
      </div><!-- /.row -->
    </div><!-- /.container -->
#include("./footer.html")