#include("./header.html", {active : 'post'})
<link media="all" rel="stylesheet" type="text/css" href="assets/css/simditor.css" />
    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">发布一篇新文章</h1>
      </div>
      <div class="row">
        <div class="col-sm-10 ">
			<form style="margin-bottom: 100px" method="post" action="/publish">
			 	#if(null!=error)
		        <div class="alert alert-danger" role="alert"> <strong>${error}</strong></div>
		        #end
				<div class="form-group">
					<label for="exampleInputEmail1">文章标题</label> 
					<input name="title" type="text" autofocus="autofocus" class="form-control" placeholder="请输入文章标题" required="required">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">文章内容</label> 
					<textarea id="editor" placeholder="输入文章内容" name="content"></textarea>
				</div>
				<button type="submit" class="btn btn-default">发布文章</button>
			</form>
		</div><!-- /.blog-main -->
      </div><!-- /.row -->
    </div><!-- /.container -->

<script type="text/javascript" src="assets/js/module.js"></script>
<script type="text/javascript" src="assets/js/uploader.js"></script>
<script type="text/javascript" src="assets/js/hotkeys.js"></script>
<script type="text/javascript" src="assets/js/simditor.js"></script>

<script type="text/javascript">
var editor = new Simditor({
	  textarea: $('#editor')
	  //optional options
});
</script>
#include("./footer.html")